#Misc settings
draw_static_boxes = true
static_boxes_width = 30
static_boxes_height = 120
static_boxes_thickness = 2

#Results settings
show_results = false
save_results = true
show_torsos = false
show_body_parts = false
show_players = true
show_blobs = false
show_player_team = true
save_all_frames = true

# BGS Settings
bgs_detect_shadows = false
bgs_threshold = 256.0
bgs_history = 500
bgs_learning_rate = 0.0
bgs_blob_buffer_size = 2
bgs_blob_threshold_count = 5
use_bgs = true

#DPM Detector settings.
dpm_detector_numthread = 1
dpm_extractor_score_threshold = -1.0
dpm_extractor_overlapping_threshold = 0.1
use_dpm_player_extractor = false
use_colored_mask_in_dpm = true


#Features comparator settings
features_comparator_correlation_threshold = 0.0

#Blob Player Extractor settings.
blob_player_extractor_buffer_size = 5
blob_player_extractor_min_blob_size = 500